@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

:root {
    --bg-color: rgb(0, 136, 232);
    --bg-color-light: #f5f5f7;

    --text-color: #1d1d1f;

    --accent-color-primary: rgb(30, 110, 244);
    --accent-color-secondary: rgb(255, 56, 60);

    --additional-color: rgb(209, 209, 214);
    --outline-neutral-color: #c7c7cc;
}

body {
    background-image: linear-gradient(135deg, var(--bg-color), var(--bg-color-light));
}

#main-container {
    background-image: url('./public/pattern.svg');
    background-repeat: no-repeat;
    background-position: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    width: 100%;
    max-width: 800px;
    border-radius: 24px;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.12);
    padding: 20px;
    background-color: var(--bg-color-light);
}

#form-content-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form-decoration-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}

#form-logout-container > a {
    padding: 5px 10px;
    border: none;
    border-radius: 32px;
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
    color: var(--accent-color-secondary);
    text-decoration: none;
    font-weight: normal;
    transition: text-shadow, ease, 0.1s;
}

#form-logout-container > a:hover {
    text-shadow: 5px 1px 15px var(--outline-neutral-color);
}

#form-title-container > h3 {
    color: var(--accent-color-primary);
    font-size: 20px;
    font-weight: normal;
    cursor: default;
}

#form-brand-icon-container > i.fa-water {
    color: var(--accent-color-primary);
    font-size: 20px;
}

.form-label-container > label {
    font-weight: 600;
    font-size: 17px;
    color: var(--accent-color-primary);
}

.form-input-container > input {
    padding: 8px 12px;
    border: none;
    border-radius: 32px;
    width: 100%;
    outline: 1px solid var(--outline-neutral-color);
    font-size: 17px;
    color: var(--text-color);
    background-color: var(--bg-color-light);
    transition: outline, ease 0.2s;
}

.form-select-container > select {
    padding: 8px 12px;
    border: none;
    border-radius: 32px;
    width: 100%;
    background-color: var(--bg-color-light);
    outline: 1px solid var(--outline-neutral-color);
    color: var(--text-color);
    font-size: 17px;
    transition: outline, ease, 0.2s
}

.form-select-container > select:hover {
    cursor: pointer;
}

.form-input-container > input:focus {
    outline: 2px solid var(--accent-color-primary);
}

.form-input-container input[type="number"]::-webkit-outer-spin-button,
.form-input-container input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-input-container input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.form-textarea-container > textarea {
    font-size: 17px;
    color: var(--text-color);
    background-color: var(--bg-color-light);
    width: 100%;
    min-height: 130px;
    height: auto;
    border-radius: 24px;
    padding: 12px 15px;
    resize: none;
    overflow: hidden;
    border: none;
    outline: 1px solid var(--outline-neutral-color);
    transition: outline, ease, 0.1s;
}

.form-textarea-container > textarea:focus {
    border: none;
    outline: 2px solid var(--accent-color-primary);
}

.form-main-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
}

.form-main-btn-container > button {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 32px;
    background-color: var(--accent-color-primary);
    color: var(--bg-color-light);
    cursor: pointer;
    font-weight: normal;
    font-size: 17px;
    transition: background-color, outline, ease, 0.1s;
}

.form-main-btn-container > button[type="submit"]:hover {
    background-color: var(--bg-color-light);
    outline: 1px solid var(--accent-color-primary);
    color: var(--accent-color-primary);
}

.form-main-btn-container > button[type="submit"]:active {
    background-color: var(--accent-color-primary);
    color: var(--bg-color-light);
}

.form-main-btn-container > button[type="reset"] {
    background-color: var(--additional-color);
    color: var(--text-color);
}

.form-main-btn-container > button[type="reset"]:hover {
    background-color: var(--bg-color-light);
    outline: 1px solid var(--outline-neutral-color);
    color: var(--text-color);
}

.form-main-btn-container > button[type="reset"]:active {
    background-color: var(--additional-color);
    color: var(--text-color);
}

@media (max-width: 1080px) {
    #main-container {
        background-position: 250px;
    }
}

@media (max-width: 575.98px) and (orientation: portrait) {
    #form-content-container {
        gap: 20px;
    }

    #form-logout-container > a {
        padding: 10px 5px;
    }

    #main-container {
        padding: 10px;
    }

    #form-title-container > h3 {
        font-size: 20px;
    }

    .form-main-btn-container {
        flex-direction: column;
    }

    .form-main-btn-container button {
        transition: transform, ease, 0.50ms;
    }

    .form-main-btn-container button:active {
        transform: scale(0.96);
    }
}

@media (max-width: 343px) and (orientation: portrait) {
    #form-title-container > h3 {
        font-size: 18px;
    }
}
